body, footer > header {
    width: 80%;
    margin: auto auto;
    text-align: center;
    align-items: center;
}
header p {
  font-size: 30px;
  margin: 0;
}
header {
  padding-bottom: 30px;
}
div {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: inline-flex;
}

.cursor:hover{
  cursor: pointer;
}


.lime {
  background-color: lime;
  box-shadow: 0 0 6px 6px lime;
}

.pink {
  background-color: #DE57F9;
  box-shadow: 0 0 3px 3px #DE57F9;
}

.red {
  background-color: red;
  box-shadow: 0 0 6px 6px red;
}
