main{
	width: 40%;
}
div {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: inline-flex;
}



.lime {
  background-color: lime;
  box-shadow: 0 0 6px 6px lime;
}

.pink {
  background-color: #DE57F9;
  box-shadow: 0 0 6px 6px #DE57F9;
}
